<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>Powserver</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<!-- css -->
<link href="../../../public/css/bootstrap.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="col-sm-6">
    <form class="form-horizontal" role="form">
        <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
            <p class="form-control-static">tang</p>
        </div>
        </div>
        <div style="height:20px; "></div>
        <h4>修改密码</h4>
        <div class="form-group">
             <label for="inputPassword3" class="col-sm-2 control-label">原密码：</label>
             <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="请输入原来的密码">
            </div>
        </div>
        <div class="form-group">
             <label for="inputPassword3" class="col-sm-2 control-label">新密码：</label>
             <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="请输入新的密码">
            </div>
        </div>
        <div class="form-group">
             <label for="inputPassword3" class="col-sm-2 control-label">重复密码：</label>
             <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="再次输入新的密码">
            </div>
        </div>
       <div class="form-group">
             <label for="inputPassword3" class="col-sm-2 control-label"></label>
             <div class="col-sm-10">
            <button class="btn btn-primary" href="#">确认修改</button>
            </div>
        </div>
        <div style="height:20px; "></div>
        <h4>重发激活邮件</h4>
        <div class="col-sm-4">
            <button class="btn btn-primary btn-lg btn-block" href="#">重发激活邮件</button>
        </div>
    </form>
        
    </div>
</body>
</html>